<body class="container">
  <div class="header">
    <h1 class="title">Captain's Mode</h1>
  </div>
  
  <div class="column">  
    <div class="content left_content champions">
      <ul>
        <% 8.times do %>
          <% @characters.each do |c| %>
            <li> <div class="character"> <%= c %> </div> </li>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>
  
  <div class="column">  
    <div class="content right_content team red_team">
      <h2 class="team_name">Red Team</h2>
      <div class="bans">
        <h2 class="bans_header">BANS</h2>
        <ul>
          <% 3.times do |n| %>
            <li> <div class="ban_icon"> <%= %> </div> </li>
          <% end %>
        </ul>
      </div>

      <div class="picks">
        <ul>
          <% 5.times do |n| %>
            <li> <div class="pick_icon"> <%= %> </div> </li>
          <% end %>
        </ul>
      </div>

      <div class="clear"></div>
    </div>

    <div class="vertical_spacer"></div>
    
    <div class="content right_content timeline">
      Timeline
    </div>

    <div class="vertical_spacer"></div>
  
    <div class="content right_content team blue_team">
      <h2 class="team_name">Blue Team</h2>
      <div class="bans">
        <h2 class="bans_header">BANS</h2>
        <ul>
          <% 3.times do |n| %>
            <li> <div class="ban_icon"> <%= %> </div> </li>
          <% end %>
        </ul>
      </div>

      <div class="picks">
        <ul>
          <% 5.times do |n| %>
            <li> <div class="pick_icon"> <%= %> </div> </li>
          <% end %>
        </ul>
      </div>

      <div class="clear"></div>
    </div>

    <div class="vertical_spacer"></div>
  
    <div class="content right_content champ_info">
      Champ Info
    </div>
  </div>

  <div class="clear"></div>
</body>